.ruleList {
  display: flex;
  flex-direction: column;
}

.ruleBtn {
  margin: 2.5px 0px;
}

.rules {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  height: 100vh;
}

.winning-button {
  padding: 9px 20px;
  font-size: 18px;
  background-color: #076f6b;
  color: white;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.winning-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.heading {
  font-size: 31px;
  color: #000d71;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 11px;
  background-color: #ffee58;
  padding: 0px 10px;
  border: 1px solid;
}
